<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NavBar</key>
	<dict>
		<key>bg</key>
		<string>nig_bgNor</string>
	</dict>
	<key>bgColor</key>
	<string>#1A1A1A</string>
	<key>ActivityIndicatorView</key>
	<dict>
		<key>color</key>
		<string>#0127AF</string>
	</dict>
	<key>Slider</key>
	<dict>
		<key>maximumValueImage</key>
		<string>nig_max</string>
		<key>minimumValueImage</key>
		<string>nig_min</string>
		<key>thumbImage</key>
		<string>nig_star</string>
		<key>minimumTrackImage</key>
		<string>nig_bgNor</string>
		<key>maximumTrackImage</key>
		<string>nig_bgHig</string>
		<key>minimumTrackTintColor</key>
		<string>#0732C8</string>
		<key>maximumTrackTintColor</key>
		<string>#DF52A7</string>
	</dict>
	<key>SegmentedControl</key>
	<dict>
		<key>segmented1</key>
		<string>nig_1</string>
		<key>segmented2</key>
		<string>nig_2</string>
		<key>backgroundImageNor</key>
		<string>nig_bgNor</string>
		<key>backgroundImageHig</key>
		<string>nig_bgHig</string>
	</dict>
	<key>PageControl</key>
	<dict>
		<key>pageIndicatorTintColor</key>
		<string>#7727B0</string>
		<key>currentPageIndicatorTintColor</key>
		<string>#35C6C2</string>
	</dict>
	<key>Stepper</key>
	<dict>
		<key>backgroundImageNor</key>
		<string>nig_bgNor</string>
		<key>backgroundImageSel</key>
		<string>nig_bgHig</string>
		<key>incrementImageNor</key>
		<string>nig_add</string>
		<key>incrementImageSel</key>
		<string>nig_addHig</string>
		<key>decrementImageNor</key>
		<string>nig_def</string>
		<key>decrementImageSel</key>
		<string>nig_defHig</string>
	</dict>
	<key>SearchBar</key>
	<dict>
		<key>tintColor</key>
		<string>#27C2BE</string>
		<key>barTintColor</key>
		<string>#EE9329</string>
		<key>backgroundImage</key>
		<string>nig_bgHig</string>
		<key>scopeBarBackgroundImage</key>
		<string>nig_bgNor</string>
	</dict>
	<key>ProgressView</key>
	<dict>
		<key>progressTintColor</key>
		<string>#00FFFF</string>
		<key>trackTintColor</key>
		<string>#0000FF</string>
		<key>progressImage</key>
		<string>nig_bgHig</string>
		<key>trackImage</key>
		<string>nig_bgNor</string>
	</dict>
	<key>Button</key>
	<dict>
		<key>titleColorNor</key>
		<string>#00FFFF</string>
		<key>titleColorHig</key>
		<string>#FF00FF</string>
		<key>titleFont</key>
		<string>18</string>
		<key>backgroundImageNor</key>
		<string>nig_bgNor</string>
		<key>backgroundImageHig</key>
		<string>nig_bgHig</string>
		<key>imageNor</key>
		<string>nig_btnNor</string>
		<key>imageHig</key>
		<string>nig_btnHig</string>
	</dict>
	<key>ImageView</key>
	<dict>
		<key>imageNor</key>
		<string>nig_1</string>
		<key>imageHig</key>
		<string>nig_2</string>
	</dict>
	<key>TextView</key>
	<dict>
		<key>textColor</key>
		<string>#0738CC</string>
		<key>font</key>
		<string>12</string>
	</dict>
	<key>TextField</key>
	<dict>
		<key>font</key>
		<string>15</string>
		<key>textColor</key>
		<string>#28C5C2</string>
	</dict>
	<key>Label</key>
	<dict>
		<key>font</key>
		<string>15</string>
		<key>textColor</key>
		<string>#20BCB8</string>
	</dict>
	<key>Switch</key>
	<dict>
		<key>tintColor</key>
		<string>#DD7F41</string>
		<key>onImage</key>
		<string>nig_bgHig</string>
		<key>offImage</key>
		<string>nig_bgNor</string>
		<key>onColor</key>
		<string>#20E5DE</string>
		<key>thumbTintColor</key>
		<string>#013BD2</string>
	</dict>
</dict>
</plist>
