<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NavBar</key>
	<dict>
		<key>bg</key>
		<string>bgNor</string>
	</dict>
	<key>bgColor</key>
	<string>#E5E5E5</string>
	<key>ActivityIndicatorView</key>
	<dict>
		<key>color</key>
		<string>#FED850</string>
	</dict>
	<key>Slider</key>
	<dict>
		<key>maximumValueImage</key>
		<string>max</string>
		<key>minimumValueImage</key>
		<string>min</string>
		<key>thumbImage</key>
		<string>star</string>
		<key>minimumTrackImage</key>
		<string>bgNor</string>
		<key>maximumTrackImage</key>
		<string>bgHig</string>
		<key>minimumTrackTintColor</key>
		<string>#F8CD37</string>
		<key>maximumTrackTintColor</key>
		<string>#20AD58</string>
	</dict>
	<key>SegmentedControl</key>
	<dict>
		<key>segmented1</key>
		<string>1</string>
		<key>segmented2</key>
		<string>2</string>
		<key>backgroundImageNor</key>
		<string>bgNor</string>
		<key>backgroundImageHig</key>
		<string>bgHig</string>
	</dict>
	<key>PageControl</key>
	<dict>
		<key>pageIndicatorTintColor</key>
		<string>#88D84F</string>
		<key>currentPageIndicatorTintColor</key>
		<string>#CA393D</string>
	</dict>
	<key>Stepper</key>
	<dict>
		<key>backgroundImageNor</key>
		<string>bgNor</string>
		<key>backgroundImageSel</key>
		<string>bgHig</string>
		<key>incrementImageNor</key>
		<string>add</string>
		<key>incrementImageSel</key>
		<string>addHig</string>
		<key>decrementImageNor</key>
		<string>def</string>
		<key>decrementImageSel</key>
		<string>defHig</string>
	</dict>
	<key>SearchBar</key>
	<dict>
		<key>tintColor</key>
		<string>#D83D41</string>
		<key>barTintColor</key>
		<string>#116CD6</string>
		<key>backgroundImage</key>
		<string>bgHig</string>
		<key>scopeBarBackgroundImage</key>
		<string>bgNor</string>
	</dict>
	<key>ProgressView</key>
	<dict>
		<key>progressTintColor</key>
		<string>#FF0000</string>
		<key>trackTintColor</key>
		<string>#FFFF00</string>
		<key>progressImage</key>
		<string>bgHig</string>
		<key>trackImage</key>
		<string>bgNor</string>
	</dict>
	<key>Button</key>
	<dict>
		<key>titleColorNor</key>
		<string>#FF0000</string>
		<key>titleColorHig</key>
		<string>#00FF00</string>
		<key>titleFont</key>
		<string>18</string>
		<key>backgroundImageNor</key>
		<string>bgNor</string>
		<key>backgroundImageHig</key>
		<string>bgHig</string>
		<key>imageNor</key>
		<string>btnNor</string>
		<key>imageHig</key>
		<string>btnHig</string>
	</dict>
	<key>ImageView</key>
	<dict>
		<key>imageNor</key>
		<string>1</string>
		<key>imageHig</key>
		<string>2</string>
	</dict>
	<key>TextView</key>
	<dict>
		<key>textColor</key>
		<string>#F8C733</string>
		<key>font</key>
		<string>12</string>
	</dict>
	<key>TextField</key>
	<dict>
		<key>font</key>
		<string>15</string>
		<key>textColor</key>
		<string>#D73A3D</string>
	</dict>
	<key>Label</key>
	<dict>
		<key>font</key>
		<string>15</string>
		<key>textColor</key>
		<string>#DF4347</string>
	</dict>
	<key>Switch</key>
	<dict>
		<key>tintColor</key>
		<string>#2280BE</string>
		<key>onImage</key>
		<string>bgHig</string>
		<key>offImage</key>
		<string>bgNor</string>
		<key>onColor</key>
		<string>#DF1A21</string>
		<key>thumbTintColor</key>
		<string>#FEC42D</string>
	</dict>
</dict>
</plist>
